body {
	min-width:470px;
	padding:0 10px 0 10px;
	overflow-x:hidden;
	font-family:"Helvetica Neue", Helvetica, Verdana;
	background:url(background.gif) center no-repeat;
}
#tab-container {
	margin:5px;
	font-size:14px;
	letter-spacing:-0.2px;
	float:left;
	width:450px;
}
#tab-container, #selection-container, #action-container,
  #dossier-tabs-saved-container {
	float:left;
	clear:both;
}

#dossier-tabs-saved-container {
	margin: 20px 0;
}

#new-list-name { font-size:16px; margin:7px 0px; display:block; float:left; clear:both; }
#input-list-name { border:1px solid #999; font-size:16px; margin:7px 0px; width:150px; display:block; float:left; clear:both;}

#select-page-container div {
	float:left;
	font-size:11px;
	padding:2px 10px;
	margin-right: 10px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	background-color: #999;
	color:#fff;
	cursor: pointer;
	
}
#edit-list-name {
	float: left;
	padding: 2px;
	font-size: 10px;
	margin: 7px;
	cursor: pointer;
}
#select-page-container {
	float: right;
	position: relative;
	top: -17px;
	margin-right:20px;
	visibility: hidden;
}

.page-selected { background-color: #444; border-bottom:2px solid #444; }

.tab-element {
	width:450px;
	background-image:url(transparent.png);
	-webkit-border-radius: 3px;
	margin-bottom:3px;
	cursor:pointer;
	height: 17px;
	padding-top: 2px;
	float:left;
}

.list-element-collection {
	background-image:url(transparent.png);
	-webkit-border-radius: 3px;
	margin-bottom:3px;
	padding-top: 2px;
	float:left;
	font-size:15px;
	clear:both;
	text-decoration:underline;
}

.tab-element-collection {
	background-image:url(transparent.png);
	-webkit-border-radius: 3px;
	margin-bottom:3px;
	padding-top: 2px;
	float:left;
	font-size:12px;
	clear:both;
}
.tab-element-collection a { 
	margin:0 10px 0 10px; 
	color: #C72;
	font-size: 11px;
	font-weight: bold;
}

#view-dossier-list-page { display:none; }

.selected { 
	background-color:#dda ; 
}

.check { float:right; }


#title { width:450px; font-size:18px; border-bottom:1px solid gray; }
#selection-container { font-size: 13px; float:left; }
#actions { margin-top:5px; border-top:1px solid gray;  }

#action-bundle-keep {
	float: right;
	font-size: 11px;
	margin: 6px 10px;
	padding: 4px;
	-webkit-border-radius: 3px;
	background-color: #F30;
	color: #fff;
	cursor:pointer;
}

.action { 
	display: block;
	padding-top: 15px;
	color: white;
	cursor: pointer;
	height: 35px;
	background-color: #DD6;
	width: 150px;
	text-align: center;
	font-weight: bold;
	-webkit-border-radius: 5px;
	margin: 5px 12px;
	float:left;
	 
}

#remove-list-button { 
	float: left;
	background-color: #F22;
	-webkit-border-radius: 5px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	width: 150px;
	height: 35px;
	margin: 5px 12px;
	padding-top: 15px;
}

#remove-list-popover {
	position:fixed;
	top:20px;
	left:20px;
	width:400px;
	background-color:#ddd;
	border:2px solid #FCC;
	color:#000;
	display:none;
	padding: 20px;
}

#remove-confirmation {
	clear:both;
	margin-bottom:20px;
}
#remove-button-yes, #remove-button-no, #remove-list-button { cursor:pointer; } 
#remove-button-yes, #remove-button-no { 
	float:left;  
	-webkit-border-radius: 5px;
	padding:10px;
	text-align:center;
	color:#fff;
	font-size:13px;
	font-weight:bold;
}

#remove-button-no { background-color:#FC0; }
#remove-button-yes { background-color:#F22; margin-right: 25px; }


#action-email-sendto { display:none; }

.tab-favicon { 
	width:15px; 
	height:15px; 
	margin:0 10px 0 10px; 
	color:white; 
	border:1px;
	solid gray;
}

#debug { background-color:#dcc; }
#select-all, #select-none { cursor:pointer; }
.selection-toggle { 
	font-weight:bold; 
	background-color: #DDD;
	padding: 0 5px 0 5px;
}

.toggle { 
	display:block; 
	float:left; 
	width:15px; 
	height:15px; 
	cursor:pointer; 
	color:#ddd
}
